.search-form {
	padding-top: 50px;
}

.title {
	padding: 10px;
}

.card {
	width: 40%;
	margin: 10px auto;
	padding: 2em 2em;
	background-color: #F9C623 !important;
	color: #295192;
	float: left;
	border-radius: 6px;
}

.card a {
	color: rgba(0, 0, 0, .54);
}

.card2 {
	width: 40%;
	margin: 10px auto;
	padding: 2em 2em;
	background-color: #F9C623 !important;
	color: #295192;
	float: right;
	border-radius: 6px;
}

.card2 a {
	color: rgba(0, 0, 0, .54);
}

.card2-body{
	color: #000000;
}

.card-search {
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F9C623 !important;
	border-radius: 6px;
}

a.btn.btn-sm.btn-warning.pull-right.mat-raised-button {
    width: 60%;
	background-color: #ffffff2e;
	color: white;
}

.mat-card-content.mat-card-content {
    text-align: center;
}

.container{
	width: 70%;
	margin: 0 15%;
}

p.title-repo {
    display: block;
    font-size: 1.4em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-weight: bold;
	color: steelblue;
}

p.bio-repo{
	color: rgba(0,0,0,.54);
}


img {
	border-radius: 6px;
}

.mat-toolbar {
	border-radius: 6px;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-family: 'Roboto', sans-serif !important;
}

.form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.button {
	border-radius: 6px;
}

.mat-card-content {
	color: white;
}

.button-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 3em;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
	padding: 0px !important;
	width: 100%;
}

